@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.card {
    width: 350px;
    font-family: 'Roboto', sans-serif;
    
}
.card img{
    width: 100%;
    margin-bottom: 0;
    border-radius: 2px;
    
    
    
}
.card h3{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 1.3rem;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 0.3px;
}


.card p{
    margin-top: 11px;
    margin-bottom: 5px;
    font-size: 1rem;
    line-height: 25px;
}
.card .author{
    font-size: 0.8rem;
    
    margin-top: -5px;
    margin-bottom: 5px;
}