.container1_4{
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    padding : 1em 0;
}
.container1_4 .leftside{
    width: 40%;
    
}
.container1_4 .rightside{
    width: 58.5%;

}