@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.horicard{
    display:flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}
.horicard .leftside{
    width: 33%;
}
.horicard .leftside img{
    width: 100%;
    border-radius: 7px;
}
.horicard .rightside{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.horicard .rightside h3{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.2rem;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: 0.3px;
    margin-top: 0;
}
.horicard .rightside p{
    margin-top: 8px;
    margin-bottom: 5px;
    font-size: 0.9rem;
}
.horicard .rightside .author{
    font-size: 0.7rem;
    margin-top: 5px;
    margin-bottom: 5px;
}