/* Navbar styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.navbar {
    background-color: #001f3f;
    color: #fff;
    padding: 10px;
    width:69%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline-block;
    margin-right: 10px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
}

.navbar a:hover {
    background-color: #fff;
    color: #001f3f;
    border-radius: 5px;
}